<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul style="display: flex; justify-content: space-between;" class="navbar-nav d-flex flex-row justify-content-end">
          <li class="mr-5 nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="mr-5 ml-5 nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="ml-5 nav-item">
            <a class="nav-link" href="/contact">contact</a>
          </li>
        </ul>
      </nav>
      
  <div class="jumbotron">
    <h1 style="text-align: center;">This is ABOUT PAGE</h1>
    <p style="text-align: center;">Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser</p>
    <p style="text-align: center;">Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser</p>
    <p style="text-align: center;">Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser</p>
    <p style="text-align: center;">Node.js is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser</p>
    
  </div>
</main>

</body>
</html